﻿@page
@model AbbyWeb.Pages.Categories.CreateModel

<form method="post" style="background-color:black; border-radius:10px">
    <div class="border p-3 mt-5">
        <div class="row pb-1">
            <h2 style="font-size:30px">Create Category</h2>
            <hr />
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="@Model.Category.Name"></label>
            <input asp-for="@Model.Category.Name" class="form-control"/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Category.DisplayOrder"></label>
            <input asp-for="@Model.Category.DisplayOrder" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn bg-primary text-light" style="width:150px">Create</button>
        <a asp-page="Index" class="btn btn-secondary text-light" style="width:150px">Back to List</a>
        
    </div>
</form>


@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}