﻿@page
@model AbbyWeb.Pages.Categories.DeleteModel

<form method="post" style="background-color:black; border-radius:10px">
    <input hidden asp-for="Category.Id"/>
    <div class="border p-3 mt-5">
        <div class="row pb-1">
            <h2 style="font-size:30px">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Category.Name"></label>
            <input asp-for="@Model.Category.Name" disabled class="form-control text-white" />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Category.DisplayOrder"></label>
            <input asp-for="@Model.Category.DisplayOrder" disabled class="form-control text-white" />
        </div>
        <button type="submit" class="btn btn-danger text-light" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary text-light" style="width:150px">Back to List</a>
    </div>
</form>


@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
}