﻿@page
@model AbbyWeb.Pages.Categories.IndexModel



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
    
    <div class="col-6 text-end">
        <a class="btn bg-primary text-light" asp-page="Create" style="width:250px">
            <i class="bi bi-plus-circle"></i>&nbsp; Create New Category</a>
    </div>
    </div>
    <br /> <br />
    <table class="table table-bordered table-responsive" style="width:100%; overflow-y:auto">
        <thead>

            <tr>
                <th style="color:white;text-decoration-style:solid">Category Name</th>
                <th style="color:white">Display Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.Categories)
            {
                <tr>
                 <td width="50%">@obj.Name</td>
                 <td width="30%">@obj.DisplayOrder</td>
                 <td>
                    <div class="w-75 btn-group">
                         <a asp-page="Edit" class="btn btn-primary mx-2" asp-route-id="@obj.Id">
                                 <i class="bi bi-pencil-square"></i>
                         </a>
                            <a asp-page="Delete" class="btn btn-danger mx-2" asp-route-id="@obj.Id">
                                 <i class="bi bi-trash3-fill"></i>
                         </a>
                     </div>
                 </td>
             </tr>   
            }
        </tbody>
    </table>
</div>



